<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Market</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>

<body>
<div class="container">
    <div th:replace="~{navigation :: navigation(Market)}" />

    <h2>Market</h2>

    <h4>Список пользователей:</h4>
    <table class="table table-striped">
        <thead>
        <tr>
            <td>Id</td>
            <td>user</td>
            <td>e-mail</td>
            <td>locked</td>
            <td>Операции</td>
        </tr>
        </thead>
        <tbody>

        <tr th:each="u : ${users}">
            <td th:text="${u.id}"></td>
            <td th:text="${u.username}"></td>
            <td th:text="${u.email}"></td>
            <td th:text="${u.locked}"></td>
            <td><a th:href="@{'/admin/users/edit/' + ${u.id}}">Редактировать</a></td>
        </tr>
        </tbody>
    </table>

</div>
</body>
</html>